// Mixins in here

.btn-create(@bgClr,@color) {

    background-color: @bgClr;
    color: @color;
    font-size: 2rem;
    border-radius: 10px;
    text-align: center;
    padding-top: 4%;
    width: 85%;
    height: 40px;

    @media @mobile {      
        width: 100%;  
        padding-top: 3%;                
    }
      

}